<div class="wrap">
  <h1 class="title">Youtube video search</h1>
  <div class="control-panel flex">
    <div class="gap sm flex align-items-center">
      <app-search-input (onInput)="getSearchParam($event)"></app-search-input>
      <button (click)="getVideoList()" [disabled]="!searchParams" class="default-button">Show results</button>
    </div>
  </div>
  <div class="control-panel flex justify-content-center align-items-center">
    <div class="gap sm flex align-items-center">
      <ng-container *ngIf="categories$ | async as categories">
        <app-categories-selector
          [title]="'category'"
          [elements]="categories"
          [isDisabled]="!searchParams"
          (onSelect)="setVideoCategory($event)"
        ></app-categories-selector>
      </ng-container>

      <ng-container *ngIf="orderedParams.length">
        <app-categories-selector
          [title]="'order params'"
          [elements]="orderedParams"
          [isDisabled]="!searchParams"
          (onSelect)="setSortOrder($event)"
        ></app-categories-selector>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="(videoIds$ | async) as videos else emptyMessage">
    <div *ngIf="videos.length; else notFound" class="grid-wrap">
      <div *ngFor="let video of videos" class="item">
        <iframe [src]="video.videoId | safe" allowfullscreen></iframe>
      </div>
    </div>
    <ng-template #notFound>
      <div class="empty">No videos were found for this request!</div>
    </ng-template>
  </ng-container>
  <ng-template #emptyMessage>
    <div class="empty">There is no videos yet!</div>
  </ng-template>
</div>
